<div class="container">
    <div class="row mt-4">
        <table class="table caption-top ">
            <caption>Lista de Categorías</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Código Categoría</th>
                    <th scope="col">Nombre Categoría</th>
                    <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Opciones</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>

                    <td><button type="button" class="btn btn-primary"><a href="../mi_dashboard/editarProductos.html" style="color: white;">&nbsp;Editar&nbsp;</a></button>&nbsp;<button type="button" class="btn btn-danger">Eliminar</button></td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>

                    <td><button type="button" class="btn btn-primary"><a href="../mi_dashboard/editarProductos.html" style="color: white;">&nbsp;Editar&nbsp;</a></button>&nbsp;<button type="button" class="btn btn-danger">Eliminar</button></td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>

                    <td><button type="button" class="btn btn-primary"><a href="../mi_dashboard/editarProductos.html" style="color: white;">&nbsp;Editar&nbsp;</a></button>&nbsp;<button type="button" class="btn btn-danger">Eliminar</button></td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="row">

    </div>


</div>