<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            Agregar Producto
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Ingrese código" class="form-control" name="codigoProducto" #codigoProducto="ngModel" [(ngModel)]="producto.codigoProducto">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Ingrese modelo" class="form-control" name="modelo" #modelo="ngModel" [(ngModel)]="producto.modelo">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="number" placeholder="Elija Talla" class="form-control" min="38" max="43" name="talla" #talla="ngModel" [(ngModel)]="producto.talla">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Ingrese Color" class="form-control" name="color" #color="ngModel" [(ngModel)]="producto.color">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <select name="select" class="form-control" name="gene" #gene="ngModel" [(ngModel)]="producto.genero">
                        <option *ngFor="let per1 of generos" [value]="per1.value">{{per1.viewValue}}</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <select name="select" class="form-control" name="category" #category="ngModel" [(ngModel)]="producto.categoria">
                        <option *ngFor="let per2 of categorias" [value]="per2">{{per2.categoria}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="number" placeholder="Ingrese Precio" class="form-control" name="precio" #precio="ngModel" [(ngModel)]="producto.precio">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="number" placeholder="Ingrese Cantidad" class="form-control" name="cantidad" #cantidad="ngModel" [(ngModel)]="producto.cantidad">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-danger" (click)="Guardar(producto)">Guardar Producto</button>
                </div>
            </div>

        </div>
    </div>
</div>