<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            Agregar Producto
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Ingrese código" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Ingrese modelo" class="form-control">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="number" placeholder="Elija Talla" class="form-control" min="38" max="43">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Ingrese Color" class="form-control">
                </div>
            </div>

            <br>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <select name="select" class="form-control">
                        <option value="value1" selected >Seleccione Género</option>
                        <option value="value2">Masculino</option>
                        <option value="value3">Femenino</option>
                      </select>
                </div>

                <div class="col-md-6 mb-3">
                    <select name="select" class="form-control">
                        <option value="value1" selected >Seleccione Categoría</option>
                        <option value="value2">Botines</option>
                        <option value="value3">Casuales</option>
                        <option value="value4">Sandalias</option>
                    </select>

                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6 mb-3">

                    <input type="number" placeholder="Ingrese Precio" class="form-control">


                </div>
                <div class="col-md-6 mb-3">
                    <input type="number" placeholder="Ingrese Cantidad" class="form-control">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-danger">Guardar Producto</button>
                </div>
            </div>

        </div>
    </div>
</div>