<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            Editar Usuario
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Editar dni Usuario" class="form-control" name="dniUsuario" #dniUsuario="ngModel" [(ngModel)]="usuario.dniUsuario">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Editar Nombre" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Editar apellido" class="form-control" name="apellido" #apellido="ngModel" [(ngModel)]="usuario.apellido">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Editar email" class="form-control" name="email" #email="ngModel" [(ngModel)]="usuario.email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <input type="text" placeholder="Editar privilegio" class="form-control" name="privilegio" #privilegio="ngModel" [(ngModel)]="usuario.privilegio">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Editar idUsuario" class="form-control" name="idUsuario" #idUsuario="ngModel" [(ngModel)]="usuario.idUsuario">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Editar contrasena" class="form-control" name="contrasena" #contrasena="ngModel" [(ngModel)]="usuario.contrasena">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-danger" (click)="Actualizar()">Actualizar Cliente</button>
                </div>
            </div>

        </div>
    </div>
</div>